dependency-reduced-pom.xml
!launch4j-config.xml
*.iml
nbactions.xml
installer/*
!installer/slimview.iss
!installer/slimview.ico
nb-configuration.xml
*.sh
!build.sh
!run.sh
target/
nbactions-uninst.xml
