dependency-reduced-pom.xml
!launch4j-config.xml
patched/
jlink-image/
*.iml
nbactions.xml
installer/*
!installer/slimview.iss
!installer/slimview.ico
nb-configuration.xml
*.sh
!jlink-build.sh
!jlink-run.sh
!jlink-build-patched.sh
