dependency-reduced-pom.xml
!launch4j-config.xml
make-exe.*
make-release.*
patched/
jlink-image/
*.iml
nbactions.xml
installer/*
!installer/slimview.iss
!installer/slimview.ico
nb-configuration.xml
